@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

.my-bg-image {
  background-image: url(https://img.freepik.com/free-photo/3d-abstract-wave-pattern-background_53876-104422.jpg?w=1480&t=st=1684429072~exp=1684429672~hmac=617e31d8ac0218f18aa84eddd2229642400219a3c477dbc1880a574b24405bbc);
}